#loaderElement {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
	backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
	animation: 2s fadeIn;
}

:root {
	--u: 1vmin
}

.loader {
	width: calc(var(--u) * 40);
	height: calc(var(--u) * 40);
	position: relative;
	animation: spin 8s linear 0s infinite;
}

.ball {
	position: absolute;
	width: 100%;
	height: 100%;
	margin-top: calc(var(--u) * -12);
	margin-left: calc(var(--u) * -12);
	border-radius: 100%;
	transform: rotate(45deg);
}

.ball:nth-child(2) {
	margin-top: calc(var(--u) * 12);
	transform: rotate(-90deg);
}

.ball:nth-child(3) {
	margin-top: calc(var(--u) * 12);
	margin-left: calc(var(--u) * 12);
	transform: rotate(135deg);
}

.ball:nth-child(4) {
	margin-left: calc(var(--u) * 12);
	transform: rotate(0deg);
}

.ball:before {
	--ball: #ffc107;
	--ball2: #ff9800;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	animation: spin 2s linear 0s infinite;
	background:
		radial-gradient(circle at 92% 50%, var(--ball) calc(var(--u) * 3), #0000 calc(var(--u) * 3.25)),
		radial-gradient(circle at 92% 49%, var(--ball) calc(var(--u) * 2.5), #0000 calc(var(--u) * 3.125));
}

.ball:nth-child(2):before {
	--ball: #448aff;
}

.ball:nth-child(3):before {
	--ball: #f44336;
}

.ball:nth-child(4):before {
	--ball: #8bc34a;
}

@keyframes spin {
	0% {
		transform: rotate(0deg)
	}

	100% {
		transform: rotate(360deg)
	}
}




/*** links ***/
.more {
	position: absolute;
	bottom: 1em;
	text-align: center;
	width: 100vw;
}

.more a,
.more span {
	font-family: Arial, Helvetica, serif;
	color: #fff8;
	background: #0008;
	padding: 0.5em;
	font-size: calc(var(--u) * 2.5);
	width: calc(var(--u) * 4);
	height: calc(var(--u) * 4);
	border-radius: 100%;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	line-height: calc(var(--u) * 4);
}

.more span,
.more a:hover {
	color: #000c;
	background: #fff8;
}


@keyframes fadeIn {
	0% {
	  opacity: 0;
	}
	100% {
	  visibility: visible;
	  opacity: 1;
	}
  }

  @keyframes fadeIn {
	0% {
	  opacity: 0;
	}
	100% {
	  visibility: visible;
	  opacity: 1;
	}
  }