button:focus {
    outline:0
}
button:active {
    transform: translateY(2px);
}
.container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.container img {
    object-fit: cover;
    width: 20vh;
    height: 20vh;
}
/* menu */
.menu{
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 1rem;
    margin: 1rem;
    display: flex;
}
.menu button {
    border-style: none;
    border-radius: 50%;
    width: 3vh;
    height: 3vh;
    background: #adf0ef;
    margin-right: 1rem;
    box-shadow:  14px 14px 28px gray,
             -14px -14px 28px white;
}
.menu a {
    text-decoration: none;
    margin-right: 1rem;
}
.menu a:active {
    transform: translateY(2px); 
}
.menu a:hover {
    
}
.menu img {
    width: 3vh;
    height: 3vh;
    object-fit: cover;
    border-radius: 50%;
    border-style: none;
    display: block;
    margin: 0 auto;
    box-shadow:  14px 14px 28px gray,
    -14px -14px 28px white;
}

/* body */
#bio {
    position: absolute;
    top: calc(20% + 20vh/2);
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 5vh;
}
#bio h2 {
    font-weight: lighter;
    text-align: center;
}
#exp {
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    margin: 1rem;
    overflow-y: scroll;
}
#exp span {
    font-size: small;
    font-weight: lighter;
    margin-top: 0;
}
#exp h3 {
    font-size: medium;
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 0;
}
#left {
    left:0;
    width: 65%;
    height: 100%;
    padding: 1rem;
    overflow-y: scroll;
    background-color: rgba(207, 228, 207, 0.7)
}
#right {
    right: 0;
    width: 35%;
    padding: 1rem;
}
/* backgroud */
#up {
    background-color: beige;
    width: 100%;
    height: 20%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    transition: 1s;
}
#up h3{
    font-weight: lighter;
}
.down {
    background-color: #acdcd9;
    width: 100%;
    height: 80%;
    margin: 0;
    padding: 0;
    top: calc(0 + 20%);
    left: 0;
}

#lang {
    font-size: larger;
}
.logo {
    margin-right: 1rem;
}

/* window */
#back {
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 999;
    transition: 1s;
    opacity: 0;
}
#window {
    left: 50%;
    top:20%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 50vh;
    height: 20vh;
    background-color: beige;
    border-radius: 10px;
}

.closeWindow {
    right: 0;
    border-style: none;
    position: absolute;
    margin: 1rem;
    padding: 0.5rem;
    background-color: #adf0ef;
    border-radius: 5px;
}

#phone {
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    position: absolute;
}