button:focus {
    outline: 0
}

button:active {
    transform: translateY(2px);
}

.container {
    display: flex;
    max-width: 1280px;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
}

.left {
    width: 50%;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.right {
    width: 50%;
    background-color: rgb(204, 172, 173);
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.right img {
    object-fit: cover;
    width: 20vh;
    height: 20vh;
}

/* menu */
.menu {
    position: absolute;
    left: 10px;
    bottom: 10px;
    padding: 1rem;
    margin: 1rem;
    display: flex;
}

.menu a {
    text-decoration: none;
    margin-right: 1rem;
}

.menu a:active {
    transform: translateY(2px);
}

.menu img {
    width: 3vh;
    height: 3vh;
    object-fit: cover;
    border-radius: 50%;
    border-style: none;
    display: block;
    padding: 1px;

    box-shadow: 5px 5px 14px gray,
        -5px -5px 14px white;
}

/* body */
#bio {
    position: absolute;
    top: calc(20% + 20vh/2);
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 5vh;
}

#bio h2 {
    font-weight: lighter;
    text-align: center;
}

#exp {
    left: 0;
    display: inline;
    overflow-y: scroll;
}

#exp span {
    font-size: small;
    font-weight: lighter;
    margin-top: 0;
}

#exp h3 {
    font-size: medium;
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 0;
}

#up {
    width: 100%;
    height: 20%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    transition: 1s;
}

#up h3 {
    font-weight: lighter;
}

.list {
    position: inherit;
}

#lang {
    font-size: larger;
}

.logo {
    margin-right: 1rem;
}

/* window */
#back {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 999;
    transition: 1s;
    opacity: 0;
}

#window {
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 50vh;
    height: 20vh;
    background-color: white;
    border-radius: 10px;
}

.closeWindow {
    right: 0;
    border-style: none;
    position: absolute;
    margin: 1rem;
    padding: 0.5rem;
    background-color: #adf0ef;
    border-radius: 5px;
}

#phone {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}